.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../Components/Assets/Picture1.jpg");
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: rgb(17, 187, 230);
    text-align: center;
    font-size: 10vw;
    line-height: 1em;
    z-index: 1000;
    font-weight: 900;
}

